@page "/employeeedit"
@page "/employeeedit/{EmployeeId}"
@using BethanysPieShopHRM.Shared

@if (!Saved)
{
    <section class="employee-edit">
    <h1 class=page-title>

        Details for @Employee.FirstName @Employee.LastName

        <EditForm Model="@Employee" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <!--First Name-->
            <div class="form-group row">
                <label for="FirstName" class="col-sm-3">First Name:</label>
                <InputText id="firstName" class="form-control col-sm-8" @bind-Value="@Employee.FirstName" placeholder="Enter Last Name" />
            </div>

            <!--Last Name-->
            <div class="form-group row">
                <label for="LastName" class="col-sm-3">Last Name:</label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Employee.LastName" placeholder="Enter Last Name" />
            </div>

            <!--Birth Date-->
            <div class="form-group row">
                <label for="BirthDate" class="col-sm-3">Birth Date:</label>
                <InputDate id="birthDate" class="form-control col-sm-8" @bind-Value="@Employee.BirthDate" placeholder="Enter Select Date" />
            </div>

            <!--Email-->
            <div class="form-group row">
                <label for="email" class="col-sm-3">Email:</label>
                <InputText id="email" class="form-control col-sm-8" @bind-Value="@Employee.Email" placeholder="Enter email address" />
            </div>

            <!--Street-->
            <div class="form-group row">
                <label for="Street" class="col-sm-3">Street:</label>
                <InputText id="street" class="form-control col-sm-8" @bind-Value="@Employee.Street" placeholder="Enter Street" />
            </div>

            <!--ZipCode-->
            <div class="form-group row">
                <label for="Zip" class="col-sm-3">Zip Code:</label>
                <InputText id="zip" class="form-control col-sm-8" @bind-Value="@Employee.Zip" placeholder="Enter Zip code" />
            </div>

            <!--City-->
            <div class="form-group row">
                <label for="city" class="col-sm-3">City:</label>
                <InputText id="city" class="form-control col-sm-8" @bind-Value="@Employee.City" placeholder="Enter City" />
            </div>

            <!--Employee Country-->
            <div class="form-group row">
                <label for="country" class="col-sm-3">Country:</label>
                <InputSelect id="country" class="form-control col-sm-8" @bind-Value="CountryId">
                    @foreach (var country in Countries)
                        {
                        <option value=@country.CountryId>@country.Name</option>
                        }
                </InputSelect>
            </div>

            <!--Phone Number-->
            <div class="form-group row">
                <label for="phone" class="col-sm-3">Phone Number:</label>
                <InputText id="phoneNumber" class="form-control col-sm-8" @bind-Value="@Employee.PhoneNumber" placeholder="Enter Phone" />
            </div>

            <!--Longitude-->
            <div class="form-group row">
                <label for="longitude" class="col-sm-3">Longitude:</label>
                <InputNumber id="longitude" class="form-control col-sm-8" @bind-Value="@Employee.Longitude" placeholder="Enter Longitude" />
            </div>

            <!--Latitude-->
            <div class="form-group row">
                <label for="latitude" class="col-sm-3">Longitude:</label>
                <InputNumber id="latitude" class="form-control col-sm-8" @bind-Value="@Employee.Latitude" placeholder="Enter Latitude" />
            </div>

            <!--Smoker-->
            <div class="form-group row">
                <label for="latitude" class="col-sm-6">
                    <InputCheckbox id="smoker" class="form-control col-sm-12" @bind-Value="@Employee.Smoker" /> &nbsp; Smoker
                </label>
            </div>

            <!--Job Category-->
            <div class="form-group row">
                <label for="jobcategory" class="col-sm-3">Job Category:</label>
                <InputSelect id="country" class="form-control col-sm-8" @bind-Value="JobCategoryId">
                    @foreach (var jobCategory in JobCategories)
                        {
                        <option value=@jobCategory.JobCategoryId>@jobCategory.JobCategoryName</option>
                        }
                </InputSelect>
            </div>

            <!--Gender-->
            <div class="form-group row">
                <label for="country" class="col-sm-3">Gender:</label>

                <InputSelect id="gender" class="form-control col-sm-8" @bind-Value="@Employee.Gender">
                    <option value=@(Gender.Male)>@(Gender.Male)</option>
                    <option value=@(Gender.Female)>@(Gender.Female)</option>
                    <option value=@(Gender.Other)>@(Gender.Other)</option>
                </InputSelect>
            </div>

            <!--Marital Status-->
            <div class="form-group row">
                <label for="country" class="col-sm-3">Marital Status:</label>

                <InputSelect id="gender" class="form-control col-sm-8" @bind-Value="@Employee.MaritalStatus">
                    <option value=@(MaritalStatus.Married)>@(MaritalStatus.Married)</option>
                    <option value=@(MaritalStatus.Single)>@(MaritalStatus.Single)</option>
                    <option value=@(MaritalStatus.Other)>@(MaritalStatus.Other)</option>
                </InputSelect>
            </div>

            <!--Joined On-->
            <div class="form-group row">
                <label for="JoinedOn" class="col-sm-3">Joined On:</label>
                <InputDate id="joinedDate" class="form-control col-sm-8" @bind-Value="@Employee.JoinedDate" placeholder="Enter Joined Date" />
            </div>

            <!--Left On-->
            <div class="form-group row">
                <label for="ExitDate" class="col-sm-3">Left Date:</label>
                <InputDate id="exitDate" class="form-control col-sm-8" @bind-Value="@Employee.ExitDate" placeholder="Enter Exit Date" />
            </div>

            <!--Comment-->
            <div class="form-group row">
                <label for="comment" class="col-sm-3">Comment:</label>
                <InputTextArea id="comment" class="form-control col-sm-8" @bind-Value="@Employee.Comment" placeholder="Enter Comments" />
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary edit-btn">Save employee</button>
            </div>

            @if (Employee.EmployeeId > 0)
            {
                <a class="btn btn-danger" @onclick="@DeleteEmployee">Delete</a>
            }

            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
        </EditForm>
    </h1>
</section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
}
